.designsImgStyle{
    width: 114px;
    height: 110px;
    background-image: url("../../assists/img/designs.svg");
    @apply mx-auto mt-20
}
.designTemplatesGrid{
    @apply grid lg:grid-cols-2 lg:w-2/3 gap-4 mt-12 gap-6 justify-items-center mx-auto sm:grid-cols-1 mb-8
}
.designImages {
    @apply w-11/12 h-full lg:w-full rounded-md border-l-4 border-indigo-600
}
.moreBtn{
    @apply h-6 w-16 px-5 text-sm bg-transparent hover:bg-fillOrange/[.17] text-gray-400
    bg-fillOrange/[.15] font-semibold hover:text-white py-2 px-4 border border-orange
    rounded mr-2 mx-auto text-center
}