.designsImgStyle {
    width: 114px;
    height: 110px;
    background-image: url("../../assists/img/designs.svg");
    @apply mx-auto mt-20
}

.designTemplatesGrid {
    @apply grid lg:grid-cols-2 lg:w-2/3 gap-4 mt-12 gap-6 justify-items-center mx-auto sm:grid-cols-1 mb-8
}

.designImages {
    @apply w-11/12 h-full lg:w-full rounded-md border-l-4 border-orangeBorder hover:scale-105  duration-500
}

.moreBtn {
    @apply h-9 w-28 px-5 text-sm bg-transparent hover:bg-orangeBorder/[.17] text-gray-400
    bg-orangeBorder/[.15] font-semibold hover:text-white py-2 px-4 border border-orangeBorder
    rounded mr-2 mb-12
}

.divFlexCenter {
    @apply flex justify-center
}

.btnArrow {
    @apply relative -top-3.5 left-16 w-3
}