.aboutImageStyle{
    width: 119px;
    height: 110px;
    background-image: url("../../public/about.svg");
    @apply mx-auto mt-24
}
.aboutText{
    @apply text-left xl:w-7/12  mx-auto text-whiteGray/[.83] mt-12 px-5
}
.AtomOrange {
    @apply text-atomOrange
}

.AtomBrown {
    @apply text-atomBrown
}

.AtomGreen {
    @apply text-atomGreen
}

.AtomBlue {
    @apply text-atomBlue
}

.AtomRed {
    @apply text-atomRed
}

.AtomPurple {
    @apply text-atomPurple
}